.venue_images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.venue-2x2-grid {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 30rem));
  grid-auto-rows: minmax(10px, 30rem);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10rem));
  grid-template-rows: max-content;
  gap: 10px;
}

.embla {
  width: 100%;
  overflow: hidden;
  /* padding-block: 10px;
  padding-inline: 10px; */
}
.embla__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.embla_slide {
  flex: 0 0 75%;
  min-width: 0;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: square;
  margin-inline-end: 20px;
  margin-inline-start: 10px;
  max-height: 30rem;
}
